/* contains styles that are specific to the entry point or page of the application. These styles might include unique styles for the header, footer, or other elements that are specific to the landing page or main page of the application.*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
}

input {
    height: 45px !important;
    border: 1px solid #b9b9b9 !important;
}

input:focus {
    outline: none !important;
    border: 1px solid #b9b9b9 !important;
}

button {
    height: 45px !important;
}